
<app-home></app-home>
<section class="about-container">
    <div class="about-section">
        <h1>Facts.and.knowladge media </h1>
        <p>Youtube channel.</p>
        <p>This is a  youtube channel. we are bring you facts video psychology video entertenment video and many more.</p>
      </div>
          <h2 style="text-align:center">Our Team</h2>
      <div >
        <div class="column">
          <div class="card">
        <div class="container">
              <h2>md rahmat</h2>
              <p class="title">CEO & Founder</p>
              <p>B.tech.</p>
              <p>Informetion Technology.</p>
              <p>mdrahmat28293@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Aditya Modak</h2>
              <p class="title">Art Director</p>
              <p>B.Tech.</p>
              <p>Computer Science</p>
              <p>modak@seasia.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Anmol Sharma </h2>
              <p class="title">Designer</p>
              <p>MCA.</p>
              <p>Computer Application</p>
              <p>anmolsh45@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </section>
